html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  scroll-padding-top: 5em;
  overflow-x: hidden;
}

textarea.sparqlBox {
  font-family: "Fira Code", monospace;
  white-space: pre;
  resize: none;
  overflow: hidden;
  border: none;
  background-color: #f9f9f9;
  width: 100%;
  box-sizing: border-box;
}

textarea.sparqlBox:focus {
  outline: none;
  border: none;
}

#data-category {
  color: rgb(25, 25, 196);
  margin-bottom: 0;
}

iframe.iframeBox {
  width: 100%;
  height: 100%;
}

#answerLabel {
  margin-bottom: 0px;
  margin-top: 0px;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px; /* Sets a maximum width for the content */
  margin: 0 auto; /* Centers the container horizontally */
  padding: 20px; /* Adds space around the content */
}

.competency-questions-list {
  padding-left: 0px;
}

.sparql-question {
  margin-bottom: 0px;
}

img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

.class-definition-table {
  border: black 1px solid;
}

.class-definition-table th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

/* there are hard coded widths in CopeDashboard.html*/
.competency-questions-img {
  width: 25vw;
  height: auto;
  max-height: 40vh;
  object-fit: contain;
  display: block;
  padding-left: 1em;
}

/* navbar */
nav {
  background-color: #2e333c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  font-family: "Segoe UI", sans-serif;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav .logo {
  font-size: 1.5em;
  font-weight: bold;
}

nav .nav-links {
  display: flex;
  gap: 1em;
}

nav .nav-links a {
  text-decoration: none;
  color: white;
  padding: 0.5em;
  transition: background-color 0.3s;
}

nav .nav-links a:hover {
  background: #57606f;
  border-radius: 5px;
}

nav .menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

nav .menu-toggle span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
}

.logo a {
  text-decoration: none;
  color: white;
}

.toggle-query-btn {
  background-color: transparent;
  color: #4c90d4;
  border: 1px solid #4c90d4;
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: "Helvetica Neue", sans-serif;
}

.toggle-query-btn:hover {
  background-color: #4c90d4;
  color: white;
}

.query-button-container {
  padding-left: 1.4em;
}

ol {
  list-style-position: inside;
}

@media (max-width: 768px) {
  nav .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav .nav-links.active {
    display: flex;
  }

  nav .menu-toggle {
    display: flex;
  }
}

#ontology img {
  width: 100%;
  height: auto;
  display: block;
}
